@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    margin: 0;
}


header {
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-header {
    width: 60vw;
}

.logo-header img {
    width: 100%;
    max-width: 300px;
    height: 100%;
}

header .nav-header {
    width: 35vw;
}

.nav-header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
    color: black;
}

.form-hero {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.form-hero h1 {
    margin-top: 0;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-hero input[type="email"] {
    display: block;
    width: 280px;
    padding: 5px;
    margin-bottom: 10px;
}

.form-hero input[type="submit"] {
    background-color: #f1c40f;
    width: 50%;
    padding: 7px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto 0 auto;
}

.grid-section {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px auto;
}
.grid-icon {
    display: grid;
}
.grid-icon img {
    width: 50%;
    align-self: center;
    justify-self: center;
}

.grid-content h2{
    margin-bottom: 0;
    margin-top: 22px;
}
.grid-content p {
    margin-top: 0;
}

.video-container {
    margin-top: 35px;
    text-align: center;
}

.prices-cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.product {
    border: 1px solid black;
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
}

.product .title-card {
    background-color: #dddddd;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 15px 0;
}

.product h2 {
    margin: 10px 0;
}
.product ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

.product ul li {
    line-height: 1.7;
}

.product button {
    margin: 15px auto;
    padding: 7px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f1c40f;
    border: none;
    font-weight: 400;
    height: 40px;
    font-size: 1em;
    padding: 0 20px;
}

footer {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 35px;
    padding: 15px;
}

footer .nav-footer {
    width: 20%;
}
footer .nav-footer ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 5px;
}
footer .nav-footer ul a {
    text-decoration: none;
    color: black;
}

footer .copyright {
    width: 30%;
    text-align: right;
    color: gray;
    font-size: 0.9em;
}

@media screen and (max-width: 785px) {
    .nav-header ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-header ul li {
        line-height: 1.5;
    }

    footer {
        align-items: center;
    }
    footer .nav-footer {
        width: 50%;
        justify-content: space-evenly;
    }
    footer .copyright {
        width: 50%;
        text-align: center;
    }
}